/* Import af fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acm e&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.bg-color{
    background-color: #FFF7CD;
}

.primary-color{
    background-color: #efa80a;
}

body{
    background-color: #FFF7CD;
}