.color-white{
    color: white !important;
}

.homeLogo{
    position: relative;
    left: 40vw;
}

.navMain{
    border: 1px solid black;
}

.navCollapse{
    text-align: center;
    font-family: "Roboto";
}