
.color-white{
    color: white !important;
}

.homeLogo{
    position: relative;
    left: 40vw;
}

body{
    overflow: hidden;
}

.navMain{
    border: 1px solid black;
    padding: 0px;
    margin: 0px; 
}

.navCollapse{
    text-align: center;
    font-family: "Roboto";
    background-color: #FCE7A4;
    font-size: 26px;
    min-height: 400vh;
}

#navbar{
        display: flex;
        height: 100%;
        padding: 0px;
        margin: 0px; 
    }

#container{
    padding: 0px;
    margin: 0px; 
}